* {
  @apply antialiased
    motion-safe:transition-colors;
}

html,
body {
  @apply size-full
    [scrollbar-gutter:auto];
}

body {
  @apply bg-white
    text-neutral-950
    motion-safe:scroll-smooth
    dark:bg-neutral-950
    dark:text-white;
}

:root {
  --font-inter: Inter, sans-serif;
  font-family: var(--font-inter);
  font-feature-settings:
    'liga' 1,
    'calt' 1; /* fix for Chrome */
}

@supports (font-variation-settings: normal) {
  :root {
    --font-inter: InterVariable, sans-serif;
  }
}

.prose {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply mt-2 font-merriweather-sans;
  }
  h3 {
  }
  p {
    @apply my-2 text-base text-neutral-800;
    word-break: break-word;
    text-wrap: pretty;
  }
}

pre.shiki {
  @apply min-h-fit overflow-auto;
  background-color: rgb(13 18 28) !important;
  border: 1px solid rgb(44 52 55);
  @apply p-3 text-sm;
  code {
    background-color: rgb(13 18 28) !important;
  }
}

.separator {
  @apply w-px
    bg-neutral-200
    dark:bg-neutral-900;
}
