* {
  @apply subpixel-antialiased
    motion-safe:transition-colors;
}

html,
body {
  @apply size-full
    [scrollbar-gutter:auto];
}

body {
  @apply bg-white
    font-open-sans
    text-neutral-950
    motion-safe:scroll-smooth
    dark:bg-neutral-950
    dark:text-white;
}
.prose {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-merriweather-sans;
  }
  p {
    @apply my-3 text-lg text-neutral-800;
  }
}
